body {
  margin: 0px;
  font-family: Arial;
  display: flex;
  align-items: stretch;
}
nav {
  height: 100%;
  width: 15vw;
  background-color: #0099ff;
}

main {
  flex-grow: 1;
  height: 100%;
  background-color: #ffffff;
  overflow: auto;
}

nav h1 {
  color: white;
  text-align: center;
  display: block;
  font-size: 1.3vw;
}

.page {
  display: none;
}

.page:target {
  display: block;
}

nav ul {
  width: 100%;
  color: white;
  list-style-type: none;
  padding: 0px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5vw;
  transition: 0.2s;
  padding: 5px;
  display: block;
  padding-left: 10px;
}

nav ul li a:hover {
  background-color: #028de3;
}

nav ul li a:active {
  color: white;
}

blog form {
  text-align: center;
}

#form {
  width: 700px;
  margin: auto;
  display: block;
  padding: 40px;
}

#form input {
  border-radius: 15px;
  font-size: 17px;
  padding: 5px;
  padding-left: 15px;
  border: none;
  transition: 0.2s;
  background-color: #e6e6e6;
  float: right;
}

#form label {
  font-size: 20px;
  float: left;
  font-weight: bold;
}
