body {
   color: black;
   font-family: Arial, Helvetica, sans-serif;
}

pre {
   border-radius: 5px;
}

article {
  padding: 2%;
  padding-top: 0px;
  padding-bottom: 50px;
  width: 70%;
  display: inline-block;
  margin: auto;
}

header {
  text-align: center;
  padding: 30px;
  margin: 60px;
  margin-top: 80px;
  background-color: #ebeaea;
}

header h1 {
  font-size: 3vw;
  width: 100%;
  display: block;
  margin: 0px;
}

header div.left {
  width: 40%;
  display: inline-block;
  float: left;
}

header img {
  width: 60%;
  display: inline;
  margin: auto;
}


.sidePanel {
  height: 100vh;
  display: inline-block;
  width: 13%;
}

.left {
  float: left;
}

.right {
  float: right;
}

@media screen and (max-width: 600px) {
  article {
    padding: 5%;
    width: 100%;
  }
  header {
    margin-left: 20px;
    margin-right: 20px;
  }
  header h1 {
    font-size: 30px;
  }
  header div.left {
    display: block;
    width: 100%;
  }
  header img {
    display: block;
    width: 100%;
  }
  .sidePanel {
    display: none;
  }
}

/*!
  Theme: Default
  Description: Original highlight.js style
  Author: (c) Ivan Sagalaev <maniac@softwaremaniacs.org>
  Maintainer: @highlightjs/core-team
  Website: https://highlightjs.org/
  License: see project LICENSE
  Touched: 2021
*/pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{background:#f3f3f3;color:#444}.hljs-comment{color:#697070}.hljs-punctuation,.hljs-tag{color:#444a}.hljs-tag .hljs-attr,.hljs-tag .hljs-name{color:#444}.hljs-attribute,.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-name,.hljs-selector-tag{font-weight:700}.hljs-deletion,.hljs-number,.hljs-quote,.hljs-selector-class,.hljs-selector-id,.hljs-string,.hljs-template-tag,.hljs-type{color:#800}.hljs-section,.hljs-title{color:#800;font-weight:700}.hljs-link,.hljs-operator,.hljs-regexp,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-symbol,.hljs-template-variable,.hljs-variable{color:#ab5656}.hljs-literal{color:#695}.hljs-addition,.hljs-built_in,.hljs-bullet,.hljs-code{color:#397300}.hljs-meta{color:#1f7199}.hljs-meta .hljs-string{color:#38a}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}